<div class="card col-xs-12 col-md-4">
    <div class="card-body">
        <h4 class="card-title"><%= event.name.titleize %></h3>

        <p class="event-date">
            <%= event.start_date.strftime("%b %-d, %Y") %> 
        </p>
        
        <p class="event-time">
            <%= event.start_time.strftime(" at %l:%M %P") %>
        </p>
        
        <%= link_to 'Learn More', event_path(id: event.id), 
        class: "btn btn-outline-primary btn-block" %>
    </div>
</div>