<div class="card col-xs-12 col-md-4">
    <div class="card-body">
        <h3 class="card-title"><%= event.name.titleize %></h3>

        <p class="event-date">
            <%= convert_to_human_readable_date(event.start_date) %> 
        </p>
        
        <p class="event-time">
            <%= convert_to_human_readable_time(event.start_time) %>
        </p>
        
        <%= link_to 'Learn More', event_path(id: event.id), 
        class: "btn btn-outline-primary btn-block" %>
    </div>
</div>