<section class="section">
  <div class="container col-xs-12 col-sm-6">
    <h2 class="mb-2">Edit Event</h2>
    <h3 class="title"> <%= @event.name %></h3>
    <%= render partial: 'form' %>
    </div>
</section>