section#event-details {
    background-color: #ccc;
}

// Vertically center burger menu
.navbar-burger {
    height: auto;
  }

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

input {
    outline: rgb(153, 152, 152);
}

.inline-link {
    display: inline;
}
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

ul.navbar-nav {
    flex-direction: row;
} 

.card-wrapper {
    width: 100%;
}
